/* Weather App 5 day forecast CSS 
Eddie Saunders
saunders.eddie@outlook.com
21st March 2020 */
body {
    background-image: url("../../assets/images/skyBackground.jpeg");
}
h1 {
    font-size: x-large;
    background-color: bisque;
}

/* Set our UV range */

.uvLow {
    background-color: green;
}

.uvMed {
    background-color: yellow;
}

.uvHigh {
    background-color: red;
}

.uvOMG {
    background-color: purple;
}

#searchArea {
    border-style: solid; /* Temporary just to visualize */
    border-radius: 15%;
 
}

.currentForecast {
    border-top-style: dotted;
 
  
}

#pageTitle {
    font-size: 48pt;
    font-style: bold;
    /* background-color: darkslategray; */
    color:lightgray;
    text-align: center;
    text-shadow: darkblue 1px 1px;
}

.day {
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    border-color: black;
}