/* Weather App 5 day forecast CSS 
Eddie Saunders
saunders.eddie@outlook.com
21st March 2020 */

h1 {
    font-size: x-large;
    background-color: bisque;
}

/* Set our UV range */

.uvLow {
    background-color: green;
}

.uvMed {
    background-color: yellow;
}

.uvHigh {
    background-color: red;
}

.uvOMG {
    background-color: purple;
}