/* Weather App 5 day forecast CSS 
Eddie Saunders
saunders.eddie@outlook.com
21st March 2020 */

/* 30th March 2020 Make this mobiloe first - EXS */

/* ID is a #, class is a . */

body {
    background-image: url("../../assets/images/skyBackground.jpeg");
}

/* Our header area */
#pageTitle {
    font-size: 48pt;
    font-style: bold;
    text-align: center;
    color:lightgray;
    text-shadow: darkblue 1px 1px;
}

/* User Input Area */
.search {
    margin-left: 30px;
    padding: 30px;
    clear: both;
    float: left;
    width: 25%;
    height 100%;
    color: black;
    background-color: lightblue;
}

#user-input h4 {
    color: black;
}

.userInput {
    border-style: solid; /* Temporary just to visualize */
    border-radius: 15%;
    color: yellow;
}

.placesList {
    font-size: larger;
    color: darkblue;
}

/* Current Conditions Area */

.currentForecast {
    /* display: inline-block; */
    margin-right: 20px;
    background-color: lightcyan;
}

#cityName p {
    font-size: 48px;
}

/* Set our UV range */

.uvLow {
    background-color: green;
}

.uvMed {
    background-color: yellow;
}

.uvHigh {
    background-color: red;
}

.uvOMG {
    background-color: mediumslateblue;
    color: white;
}


/* Our 5 day forecast area */
/* Light Yellow just for tracking */

.day {
    border-style: solid;
    border-width: 1px;
    text-align: justify;
    padding: 5px;
    margin: 10px;
    border-color: black;
    background-color: lightyellow;
}

.fiveDay {
    width: 10%;
    padding: 20px;
}

/*Media Query for resolution > 700 */
